.bookmarks{
  font-weight: 900;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  .item{
    cursor: pointer;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 5px;
    background-color: rgb(221, 159, 159);
    margin-right: 0;
    // margin-bottom: 10px;
    font-size: 18px;
  }
  .item:hover{
    background-color: rgb(255, 200, 97) !important;
    color: #000000 !important;
  }
  .item:active{
    background-color: rgb(43, 255, 0) !important;
    color: #000000 !important;
  }
}
